header 
{
	border-bottom: 5px solid green;
	margin-bottom: 2px;
	width: 100%;
	max-height: 100px;
}
header div 
{
	display: inline-block;
}
/*the styling for the logo */
#Logo 
{
	margin: 0px 50px;
	max-width: 8%;
}
#Logo img 
{
	width: 80%;
	height: 40%
}

/*Styling for the nav buttons*/
#nav
{
	position: absolute;
	top: 15px;
	width: 50%;
	margin-left: 150px;
}
#nav ul li
{
	display: inline;
	text-decoration: none;
	padding: 0px 12px;
}
#nav ul li a
{
	text-decoration: none;
	color: darkgreen;
	font-family: 'verdana';
	font-size: 20px;
	font-weight: bold;
}
/*Styling for the profile picture*/

#userProfilePhoto
{
	float:right;

	width: 20%;
    padding-top:3px;
	


    width: 20%;
    padding-top: 3px;

}

#userProfilePhoto img
{	
	width: 18%;
	
	border:2px solid black;
	border-radius: 100%;
}

.mail {
   
  
    margin-left: 60%;
}
